__pycache__
__pycache__/*
*/__pycache__/*
.DS_Store
.DS_Store/*
*/.DS_Store/*
test
test/*
*/test/*
outputs
outputs/*
*/outputs/*
results
results/*
*/results/*
tb
tb/*
*/tb/*
.idea
.idea/*
*/.idea/*
import_models
import_models/*
*/import_models/*
tests/results/*
*/data/dataset/*
.idea
.idea/*
*/.idea/*
build
build/*
*/build/*
Slides
Slides/*
*/Slides/*
My
My/*
*/My/*
*.blend1
