__pycache__
__pycache__/*
*/__pycache__/*
.DS_Store
.DS_Store/*
*/.DS_Store/*
test
test/*
*/test/*
outputs
outputs/*
*/outputs/*
results_final
results_final/*
*/results_final/*
tb
tb/*
*/tb/*
.idea
.idea/*
*/.idea/*
import_models
import_models/*
*/import_models/*
tests/results/*
*/data/dataset/*
.idea
.idea/*
*/.idea/*
build
build/*
*/build/*
Slides
Slides/*
*/Slides/*
data
data/*
*/data/*
*.blend1
